{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "Chrome >= 50",
                        "Safari >= 10",
                        "iOS >= 10",
                        "Android >= 6"
                    ]
                }
            }
        ]
    ]
}
