@import "control";

.dota-underlords-formation-emulator {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 4px;
    background-color: #f7f8f9;
    .loading {
        display: none;
        z-index: 11000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f7f8f9;
        &[v-cloak] {
            display: block;
        }
    }
    .formation-box {
        width: 100%;
        padding: 12px;
        background-color: #fff;
        .title {
            width: 100%;
            height: 24px;
            line-height: 24px;
            > span {
                font-size: 18px;
                color: #14191e;
                > i {
                    margin-right: 5px;
                    font-size: 16px;
                    color: #666;
                }
            }
            > em {
                display: inline-block;
                margin-left: 5px;
                height: 100%;
                vertical-align: middle;
                font-size: 12px;
                color: #8c9196;
            }
            > button {
                float: right;
                width: 60px;
                height: 100%;
                border-radius: 2px;
                background-color: #F3F4F5;
                font-size: 10px;
                color: #8c9196;
            }
        }
        .chessboard {
            display: grid;
            width: 100%;
            height: 176px;
            grid-template-columns: repeat(8, 12.5%);
            grid-template-rows: repeat(4, 25%);
            overflow: hidden;
            margin: 12px 0;
            background-color: #f7f8f9;
            background-image: linear-gradient(45deg, #e9ebed 25%, transparent 25%, transparent 75%, #e9ebed 75%, #e9ebed),
            linear-gradient(45deg, #e9ebed 26%, transparent 26%, transparent 74%, #e9ebed 74%, #e9ebed);
            background-size: 88px 88px;
            background-position: 0 0, 44px 44px;
            > li {
                padding: 4px;
                transition: padding .3s;
                &.active {
                    padding: 0;
                }
                > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 2px;
                }
            }
        }
        .vue-trans-equipment-box-enter-active,
        .vue-trans-equipment-box-leave-active {
            overflow: hidden;
            height: 106px;
            transition: height .3s;
        }
        .vue-trans-equipment-box-enter,
        .vue-trans-equipment-box-leave-to {
            height: 0;
        }
        .equipment-box {
            width: 100%;
            background-color: #f7f8f9;
            transform: translate3d(0, 0, 0);
        }
        .equipment {
            width: 100%;
            height: 106px;
            padding: 12px;
            .add-list {
                display: flex;
                position: relative;
                width: 100%;
                height: 34px;
                > span {
                    .align(center);
                    width: 34px;
                    height: 100%;
                    margin-right: 10px;
                    font-size: 12px;
                    color: #14191e;
                }
                .item {
                    display: flex;
                    flex: 1;
                    > img,
                    .item-add {
                        width: 34px;
                        height: 100%;
                        border-radius: 2px;
                    }
                    > img {
                        display: block;
                        margin-right: 24px;
                    }
                    .item-add {
                        position: relative;
                        overflow: hidden;
                        &::before {
                            .align(center);
                            content: '+';
                            width: 100%;
                            height: 100%;
                            border: 1px dashed #ddd;
                            font-size: 18px;
                            color: #ddd;
                        }
                        .item-img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
                > em {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 14px;
                    text-align: center;
                    line-height: 14px;
                    font-size: 10px;
                    color: #8c9196;
                }
            }
            > button {
                display: block;
                width: 100%;
                height: 36px;
                margin-top: 12px;
                border-radius: 2px;
                background-color: #ed4c4c;
                font-size: 14px;
                color: #ffffff;
            }
        }
        .equipment-list {
            .clear-float;
            width: 100%;
            margin-top: 12px;
            > dt {
                width: 100%;
                height: 24px;
                margin-bottom: 2px;
                line-height: 24px;
                font-size: 18px;
                color: #14191e;
            }
            > dd {
                .align(v-center);
                .align(h-space-between);
                float: left;
                width: 80px;
                height: 42px;
                margin-top: 10px;
                padding: 8px 12px;
                background-color: #f7f8f9;
                &:not(:nth-child(5n)) {
                    margin-right: 10px;
                }
                > img {
                    display: block;
                    border-radius: 2px;
                    &:first-child {
                        width: 26px;
                        height: 26px;
                    }
                    &:last-child {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .feature-box {
        width: 100%;
        margin-top: 4px;
        padding: 12px;
        background-color: #fff;
        > dt {
            width: 100%;
            height: 24px;
            margin-bottom: 2px;
            line-height: 24px;
            font-size: 18px;
            color: #14191e;
        }
        > dd {
            display: flex;
            width: 100%;
            padding-top: 10px;
            &.invalid {
                filter: grayscale(100%);
            }
            > i {
                .align(center);
                width: 34px;
                height: 34px;
                border-radius: 2px;
                &::before {
                    font-size: 20px;
                    color: #fff;
                }
            }
            .sign-num {
                position: relative;
                width: 16px;
                height: 34px;
                margin-left: 4px;
                &.type {
                    &-1 > li {
                        height: 100%;
                        border-radius: 2px;
                    }
                    &-2 > li {
                        position: absolute;
                        height: 16px;
                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }
                        &:nth-child(2) {
                            left: 0;
                            bottom: 0;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }
                    }

                    &-4 > li,
                    &-6 > li {
                        position: absolute;
                        height: 16px;
                        &:nth-child(1),
                        &:nth-child(3),
                        &:nth-child(5) {
                            top: 0;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }
                        &:nth-child(2),
                        &:nth-child(4),
                        &:nth-child(6) {
                            bottom: 0;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }
                        &:nth-child(1),
                        &:nth-child(2) {
                            left: 0;
                        }
                        &:nth-child(3),
                        &:nth-child(4) {
                            left: 6px;
                        }
                        &:nth-child(5),
                        &:nth-child(6) {
                            left: 12px;
                        }
                    }
                    &-3 > li,
                    &-9 > li {
                        position: absolute;
                        height: 10px;
                        &:nth-child(1),
                        &:nth-child(4),
                        &:nth-child(7) {
                            top: 0;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(8) {
                            top: 12px;
                        }
                        &:nth-child(3),
                        &:nth-child(6),
                        &:nth-child(9) {
                            bottom: 0;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3) {
                            left: 0;
                        }
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                            left: 6px;
                        }
                        &:nth-child(7),
                        &:nth-child(8),
                        &:nth-child(9) {
                            left: 12px;
                        }
                    }
                }
                > li {
                    width: 4px;
                    background-color: #dedfe0;
                    color: inherit;
                    &.active {
                        background-color: currentColor;
                    }
                }
            }
            .detail {
                flex: 1;
                margin-left: 10px;
                border-bottom: 1px solid #f3f4f5;
                > p {
                    width: 100%;
                    line-height: 18px;
                    font-size: 12px;
                }
                > ul {
                    width: 100%;
                    margin-top: 6px;
                    padding-bottom: 6px;
                    font-size: 0;
                    > li {
                        display: inline-block;
                        height: 12px;
                        margin-right: 4px;
                        margin-bottom: 4px;
                        padding-left: 14px;
                        line-height: 12px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: top left;
                        font-size: 10px;
                        color: #8c9196;
                    }
                }
            }
        }
    }
    .save-formation {
        width: 100%;
        height: 44px;
        > button {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 44px;
            background-color: #ed4c4c;
            font-size: 14px;
            color: #fff;
        }
    }
    &-popup {
        z-index: 15000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-bg {
            z-index: 1;
            background-color: rgba(0,0,0,.55);
            transition: opacity .3s;
        }
        &-content {
            z-index: 2;
            .dota-underlords-formation-emulator-heroes-list {
                .absolute(cm);
                .shadow(0, 0, 5px, rgba(0,0,0,.5));
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 350px;
                padding: 20px 5px 20px 20px;
                border-radius: 10px;
                background-color: #fff;
                transition: none .5s;
                transition-property: opacity, transform;
                > p {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    color: #14191E;
                }
                .list {
                    flex: 1;
                    width: 100%;
                    padding-right: 15px;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    > dl {
                        .clear-float;
                        width: 100%;
                        > dt {
                            width: 100%;
                            height: 20px;
                            margin-bottom: 10px;
                            line-height: 20px;
                            font-size: 14px;
                            color: #14191e;
                        }
                        > dd {
                            float: left;
                            width: 44px;
                            height: 44px;
                            margin-bottom: 10px;
                            border-radius: 5px;
                            background-color: #ccc;
                            background-size: cover;
                            background-repeat: no-repeat;
                            &:not(:nth-of-type(5n)) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .dota-underlords-formation-emulator-about {
                .absolute(cm);
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 300px;
                padding: 20px;
                border-radius: 10px;
                background-color: #fff;
                transition: none .5s;
                transition-property: opacity, transform;
                i.title {
                    .split-line();
                    display: block;
                    width: 100%;
                    height: 40px;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 16px;
                    color: #666;
                    &::before {
                        margin-right: 5px;
                    }
                }
                .article {
                    flex: 1;
                    width: 100%;
                    padding-right: 5px;
                    overflow-y: auto;
                    > p {
                        width: 100%;
                        line-height: 20px;
                        font-size: 12px;
                        color: #999;
                        > span {
                            color: rgba(0, 157, 255, 0.55);
                        }
                        > i::before {
                            margin-right: 2px;
                        }
                    }
                    > h5 {
                        width: 100%;
                        margin: 10px 0 5px;
                        font-size: 14px;
                        color: #777;
                    }
                    > ul {
                        width: 100%;
                        > li {
                            width: 100%;
                            line-height: 18px;
                            font-size: 12px;
                            color: #999;
                        }
                    }
                }
            }
        }
    }
    .vue-trans-fade-enter-active,
    .vue-trans-fade-leave-active {
        opacity: 1;
        transition: none .5s;
        transition-property: opacity, transform;
        .dota-underlords-formation-emulator-popup-bg {
            opacity: 1;
        }
        .dota-underlords-formation-emulator-heroes-list {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        .dota-underlords-formation-emulator-about {
            opacity: 1;
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        }
    }
    .vue-trans-fade-enter,
    .vue-trans-fade-leave-to {
        opacity: 1;
        .dota-underlords-formation-emulator-popup-bg {
            opacity: 0;
        }
        .dota-underlords-formation-emulator-heroes-list {
            opacity: 0;
            transform: translate3d(0, 40px, 0);
        }
        .dota-underlords-formation-emulator-about {
            opacity: 0;
            transform: scale3d(1.2, 1.2, 1.2) translate3d(0, -30px, 0);
        }
    }
    .vue-trans-scale-enter-active,
    .vue-trans-scale-leave-active {
        transform: scale3d(1);
        transition: transform .3s;
    }
    .vue-trans-scale-enter,
    .vue-trans-scale-leave-to {
        transform: scale3d(0, 0, 0);
    }
}
