<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../controllers/lib/vue.min.js"></script>
    <script src="../controllers/base.js"></script>
    <link rel="stylesheet" href="../styles/icon.less">
    <link rel="stylesheet" href="../styles/heybox-shim.less">
    <link rel="stylesheet" href="../styles/index.less">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <div class="dota-underlords-formation-emulator">
        <p class="loading" v-cloak></p>
        <div class="formation-box">
            <p class="title">
                阵容模拟<em v-pre>单击移动 长按添加装备</em>
                <button @click="chessboardClear">清空棋盘</button>
            </p>
            <ul class="chessboard">
                <li v-for="(n,index) in data.chessboard"
                    :class="{active:data.chessboardChangeIndex===index}"
                    :key="index"
                    @touchstart="heroesItemSelectStart(index)"
                    @touchmove="heroesItemSelectMove"
                    @touchend="heroesItemSelectEnd(index)">
                    <transition name="vue-trans-scale">
                        <img :src="data.heroes[n].id_img" v-if="n">
                    </transition>
                </li>
            </ul>
            <transition name="vue-trans-equipment-box">
                <div class="equipment-box" v-if="data.chessboardActiveHeroes">
                    <div class="equipment">
                        <div class="add-list">
                            <span>添加<br>装备</span>
                            <div class="item">
                                <img :src="data.heroes[this.data.chessboardActiveHeroes].id_img">
                                <div class="item-add"
                                     @click="visible.itemsList=true">
                                    <div class="item-img"
                                         :style="{backgroundImage:`url(${data.items[data.chessboardActiveItems].id_img})`}"
                                         v-if="data.chessboardActiveItems"></div>
                                </div>
                            </div>
                            <em @click="heroesRemove">移除棋子</em>
                        </div>
                        <button @click="heroesItemsAdd">确认添加</button>
                    </div>
                </div>
            </transition>
            <dl class="equipment-list" v-if="heroesHaveItemLength">
                <dt v-pre>装备列表</dt>
                <dd v-for="(hi,key,index) in data.heroesItem"
                    :key="index">
                    <img :src="data.heroes[key].id_img">
                    <img :src="data.items[hi].id_img">
                </dd>
            </dl>
        </div>
        <dl class="feature-box">
            <dt v-pre>英雄特性</dt>
            <dd>
                <i></i>
                <ul class="sign-num">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="detail">
                    <p>太古单位在受到攻击时有30%几率对近战攻击者缴械4秒</p>
                    <ul>
                        <li>变体精灵</li>
                        <li>变体精灵</li>
                    </ul>
                </div>
            </dd>
        </dl>

        <transition name="vue-trans-fade">
            <div ref="heroesListPopup"
                 class="dota-underlords-formation-emulator-popup"
                 @touchstart.stop="heroesListClose"
                 v-if="visible.heroesList">
                <div class="dota-underlords-formation-emulator-popup-bg"></div>
                <div ref="heroesListPopupContent"
                     class="dota-underlords-formation-emulator-popup-content">
                    <div class="dota-underlords-formation-emulator-heroes-list">
                        <p v-pre>添加你的英雄</p>
                        <div class="list">
                            <dl v-for="(hpg,key,index) in data.heroesPriceGroup"
                                :key="index">
                                <dt v-text="`费用：${key}`"></dt>
                                <dd v-for="heroes in hpg"
                                    :style="{backgroundImage:`url(${heroes.id_img})`}"
                                    @click="setHeroes(heroes)"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="vue-trans-fade">
            <div ref="itemsListPopup"
                 class="dota-underlords-formation-emulator-popup"
                 @touchstart.stop="itemsListClose"
                 v-if="visible.itemsList">
                <div class="dota-underlords-formation-emulator-popup-bg"></div>
                <div ref="itemsListPopupContent"
                     class="dota-underlords-formation-emulator-popup-content">
                    <div class="dota-underlords-formation-emulator-heroes-list">
                        <p v-pre>添加物品</p>
                        <div class="list">
                            <dl v-for="(ilg,key,index) in data.itemsLevelGroup"
                                :key="index">
                                <dt v-text="`梯队：${key}`"></dt>
                                <dd v-for="items in ilg"
                                    :style="{backgroundImage:`url(${items.id_img})`}"
                                    @click="setItems(items)"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <script src="../controllers/index.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>
